[Desktop Entry]
Version=1.0
Type=Application
Name=6) Crear
Comment=TrcIMPLAN Desagregación sitio web
Exec=xterm -hold -e ~/Documentos/TrcIMPLAN/GitHub/desagregacion/bin/Crear.php
Icon=media-record
Path=
Terminal=false
StartupNotify=false
